*.class

# Package Files #
*.jar
*.war
*.ear

.project
.classpath
.settings/
configuration.properties

# Maven #
target/
bin/
.project
.classpath

# Configuration #

configuration.properties
fenix-framework.properties

